[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
GenericName=Integrated Development Environment
Icon=<YOUR_CLION_DIRECTORY>/bin/clion.svg
Exec=bash -i -c <YOUR_CLION_DIRECTORY>/bin/clion.sh %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
